<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" ><img src="../assets/logo.png" width="230px" height="50px"></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="#" >โครงสร้างระบบการจัดเก็บข้อมูลโครงสร้างพื้นฐานระดับพื้นที่เพื่อการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน ในลุ่มน้ำทั่วประเทศ จำนวน 25 ลุ่มน้ำ
            <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top: 60px;">
    <div class="accordion" id="accordionExample" >
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#1" aria-expanded="true" aria-controls="collapseOne">
                  หลักการตามคำสั่ง คสช. ที่ 85/2557
                              </button>
            </h5>
          </div>
      
          <div id="1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
            
           
              <textarea  class="form-control" style="height:150px">
            ตามคำสั่ง คสช. ที่ 85/2557 เรื่อง แต่งตั้งคณะกรรมการกําหนดนโยบายและการบริหารจัดการทรัพยากรน้ำ โดยมีอำนาจในการกำหนดกรอบนโยบาย
และแผนงานการบริหารจัดการทรัพยากรน้ำ การป้องกันและแก้ปัญหาอุทกภัย ภัยแล้งและคุณภาพน้ำของประเทศ เพื่อให้การบริหารทรัพยากรน้ำของประเทศเป็นไป
อย่างมีเอกภาพและบูรณาการ พร้อมทั้งเสนอแผนงาน โครงการ และมาตรการที่เกี่ยวกับการบริหารจัดการทรัพยากรน้ำ เพื่อให้เกิดการบูรณาการ และได้มีการแต่งตั้ง
คณะอนุกรรมการจำนวน 5 คณะเพื่อจัดทำแผนบริหารจัดการน้ำในภาพรวม ประกอบด้วย คณะอนุกรรมการพัฒนาและบริหารจัดการทรัพยากรน้ำพื้นที่ภาคเหนือ ภาคกลาง
และภาคตะวันออกคณะอนุกรรมการพัฒนาและบริหารจัดการทรัพยากรน้ำพื้นที่ภาคตะวันออกเฉียงเหนือ และภาคใต้ คณะอนุกรรมการจัดการระบบข้อมูลสนับสนุนการตัดสินใจ 
คณะอนุกรรมการการจัดการองค์กร ข้อกำหนด กฎหมายต่างๆ ที่เกี่ยวข้อง และคณะอนุกรรมการประชาสัมพันธ์และการมีส่วนร่วม
จากแผนยุทธศาสตร์การบริหารจัดการทรัพยากรน้ำ พ.ศ.2558-2569 คือ 
      1) การฟื้นฟูพื้นที่ต้นน้ำและการป้องกันการพังทลายของดิน 
      2) การแก้ไขปัญหาการขาดแคลนน้ำอุปโภคบริโภค 
      3) การแก้ไขปัญหาการขาดแคลนน้ำเพื่อการผลิต (เกษตร/อุตสาหกรรม) 
      4) การป้องกันและบรรเทาอุทกภัย 
      5) การป้องกันและแก้ไขปัญหาคุณภาพน้ำ 
      6) การเพิ่มประสิทธิภาพการบริหารจัดการ 
                </textarea>
            
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#2" aria-expanded="false" aria-controls="collapseTwo" >
                    สำนักงานสถิติแห่งชาติ
                </button>
              </h5>
            </div>
            <div id="2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <textarea  class="form-control" style="height:150px">
            สำนักงานสถิติแห่งชาติเป็นหนึ่งในคณะกรรมการกำหนดนโยบายและการบริหารจัดการทรัพยากรน้ำ และคณะอนุกรรมการจัดการระบบข้อมูลสนับสนุนการตัดสินใจ 
และตาม พ.ร.บ.สถิติ พ.ศ.2550 ให้สำนักงานสถิติแห่งชาติเป็นหน่วยงานกลางของรัฐ ในการดำเนินการเกี่ยวกับสถิติตามหลักวิชาการ (มาตรา ๕) 
และมีอำนาจหน้าที่จัดทำสำมะโนหรือการสำรวจด้วยตัวอย่าง หรืออำนวยการให้มีการสำรวจด้านต่างๆ ของประเทศ (มาตรา 6 (4)) และให้บริการสถิติแก่หน่วยงาน
องค์กรเอกชน และบุคคลทั่วไป (มาตรา 6 (8)) ประกอบกับในสถานการณ์ปัจจุบัน ข้อมูลพื้นฐานทางสังคมและเศรษฐกิจที่มีความครบถ้วน ถูกต้อง แม่นยำ ไม่ซ้ำซ้อน 
และตรงความต้องการของผู้ใช้ รวมทั้งข้อมูลในระดับพื้นที่ย่อย เป็นสิ่งจำเป็นในการวางแผนและพัฒนาประเทศโดยเฉพาะในการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน
ดังนั้นการศึกษาและสำรวจข้อมูลการใช้น้ำ หรือที่เรียกว่าการสำรวจรอยเท้าน้ำ (water footprint) จึงมีความสำคัญมาก แต่เนื่องจากระบบสถิติของประเทศไทยเป็นระบบ
กระจายงานมีหน่วยงานภาครัฐต่างๆ ทำหน้าที่ผลิตสถิติ ซึ่งเป็นสถิติที่ได้จากการบริหารงาน งานทะเบียน การสำรวจ และจากการผลิตสถิติตามความต้องการเฉพาะของหน่วยงาน
จึงอาจเกิดความซ้ำซ้อนของข้อมูล หรือความไม่ครบถ้วนของข้อมูลในเชิงพื้นที่ย่อยโดยเฉพาะในเขตเมือง และในเชิงเนื้อหา ได้แก่ ข้อมูลโครงสร้างพื้นฐานทางประชากร 
การใช้ทรัพยากรน้ำเพื่อการอุปโภคบริโภคทั้งในระดับครัวเรือนและสถานประกอบการขนาดเล็ก การใช้น้ำเพื่อการเกษตรของครัวเรือนเกษตร การใช้น้ำเพื่อการอุตสาหกรรมของสถานประกอบการประเภทต่างๆ 
ปัญหาหรือผลกระทบที่เกิดจากน้ำ ภัยพิบัติต่างๆ และความช่วยเหลือจากรัฐ รวมถึงค่าใช้จ่ายที่เกี่ยวข้องกับการใช้น้ำที่เพิ่มขึ้นหรือลดลง เป็นต้น
                </textarea>
            </div>
          </div>

          <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#3" aria-expanded="false" aria-controls="collapseTwo" >
                      หลักเหตุผล
                  </button>
                </h5>
              </div>
              <div id="3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <textarea  class="form-control" style="height:150px">
             สิ่งสำคัญอีกประการหนึ่งก็คือการขาดการบริหารจัดการในเชิงบูรณาการ และการจัดการข้อมูลในระดับหน่วยงาน ให้เป็นไปในทิศทางเดียวกัน ในระดับประเทศและเชิงพื้นที่
ทั้งในมิติของพื้นที่ในเขตชลประทาน นอกเขตชลประทาน และเขตเมือง รวมทั้งมิติพื้นที่อื่นๆ และลดความซ้ำซ้อนในการดำเนินการจัดเก็บข้อมูล เพื่อให้ประเทศมีสถิติที่สำคัญสำหรับใช้
ในการวิเคราะห์และจัดลำดับความมั่นคงของทรัพยากรน้ำ เพื่อนำไปสู่การจัดทำนโยบายและแผนในการกำหนดทิศทางการพัฒนาประเทศและการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืนในอนาคต

             จากเหตุผลดังกล่าวข้างต้น สำนักงานสถิติแห่งชาติจึงได้เสนอโครงการระบบการจัดเก็บข้อมูลโครงสร้างพื้นฐานระดับพื้นที่เพื่อการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน 
ในลุ่มน้ำทั่วประเทศจำนวน 25 ลุ่มน้ำ (โครงการระยะที่ 1) ภายใต้แผนแม่บทการพัฒนาระบบข้อมูลสนับสนุนการตัดสินใจ ของคณะอนุกรรมการจัดการระบบข้อมูลสนับสนุนการตัดสินใจ 
และภายใต้คณะกรรมการกำหนดนโยบายและการบริหารจัดการทรัพยากรน้ำ โดยมีเป้าหมายหลักคือ สนับสนุนให้ 
        1) เกิดระบบคลังข้อมูลน้ำแห่งชาติและระบบโครงสร้างพื้นฐาน ที่รวบรวม 
และเชื่อมโยงข้อมูลจากทุกหน่วยงาน ด้วยเทคโนโลยีที่มีประสิทธิภาพสูง 
        2) เกิดระบบติดตาม เฝ้าระวัง และคาดการณ์สถานการณ์น้ำในภาวะปกติ และตัดสินใจ แก้ไข บรรเทาอุทกภัยในภาวะวิกฤตที่เป็นเอกภาพ และ 
        3) เกิดกระบวนการกำหนดทิศทางการพัฒนา อนุรักษ์ และซ่อมบำรุง อย่างเป็นระบบและต่อเนื่อง โดยแผนแม่บทฉบับนี้อยู่ในแผนการบริหารจัดการทรัพยากรน้ำ
ปี พ.ศ.2558 (เพิ่มเติม) และภายใต้แผนยุทธศาสตร์การบริหารจัดการทรัพยากรน้ำ (ข้อ 6 : การเพิ่มประสิทธิภาพการบริหารจัดการ) ปี พ.ศ.2558-2569
ที่คณะรัฐมนตรีเห็นชอบเมื่อวันที่ 25 พฤศจิกายน พ.ศ.2557 และจากการประชุมคณะรัฐมนตรีเมื่อวันที่ 30 ธันวาคม พ.ศ.2557 คณะรัฐมนตรีได้เห็นชอบใน
หลักการแผนงาน/โครงการบริหารจัดการทรัพยากรน้ำระยะเร่งด่วน ประจำปีงบประมาณ 2558 (เพิ่มเติม) รวม 4,227 แผนงาน/โครงการ กรอบวงเงิน 16,278 ล้านบาท
และงบประมาณจากแหล่งเงินกู้ของรัฐบาล กรอบวงเงิน 39,707 ล้านบาท
                  </textarea>
              </div>
            </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#4" aria-expanded="false" aria-controls="collapseTwo" >
                  1.2 วัตถุประสงค์
              </button>
            </h5>
          </div>
          <div id="4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <textarea  class="form-control" style="height:150px">
1.2.1 เพื่อจัดทำข้อมูลและดัชนีชี้วัดต่างๆ สำหรับการบริหารจัดการทรัพยากรน้ำ และสามารถตอบสนองคลังข้อมูลน้ำและภูมิอากาศแห่งชาติได้ทั้งในเชิงเนื้อหาและเชิงพื้นที่ 
1.2.2 เพื่อพัฒนาระบบงานบนเครือข่ายคอมพิวเตอร์ เพื่อสนับสนุนคลังข้อมูลน้ำและภูมิอากาศแห่งชาติ โดยมี 4 ระบบงานย่อย คือ 
1.2.2.1 ระบบการมอบหมายงาน และการติดตามงาน รวมทั้งการประเมินคุณภาพข้อมูล 
1.2.2.2 ระบบการจัดเก็บข้อมูลในครัวเรือน ครัวเรือนเกษตร สถานประกอบการ และข้อมูลระดับพื้นที่ย่อย ด้วยอุปกรณ์คอมพิวเตอร์แบบพกพา (Tablet) 
1.2.2.3 ระบบการนำเข้าข้อมูลโครงสร้างพื้นฐานที่มีอยู่แล้วระหว่างหน่วยงาน และข้อมูลโครงสร้างพื้นฐานที่ดำเนินการจัดเก็บเพิ่มเติมในระดับพื้นที่ย่อย ให้พร้อมเชื่อมโยงเข้าคลังข้อมูลน้ำและภูมิอากาศแห่งชาติ 
1.2.2.4 ระบบการนำเสนอข้อมูลและดัชนีชี้วัด ที่สนับสนุนการบริหารจัดการทรัพยากรน้ำ ได้ทั้งในเชิงเนื้อหาและเชิงพื้นที่ 
              </textarea>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#5" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div id="5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
</div>

<footer class="footer">
</footer>

